@import "_variables"

.card
  @extend %flexCol
  background-color: $color-primary
  border: solid 1px $color-primary-accent
  border-radius: 1rem
  box-shadow: 0 0 .5rem .1rem $color-primary
  flex: 0 0 450px
  justify-content: start
  margin: 5vh 0
  max-width: 800px
  overflow: hidden
  position: relative
  @include prefix(transition, all ease-in .5s .5s)
  @include prefix(transform, translate3d(0, 0, 0)) // Fix absolute elements ignoring border-radius
  &:first-child
    margin: 2vh 0 5vh

.card_fitContent
  flex: 1 0 auto
  overflow: visible

.card_flex_space-between
  justify-content: space-between

.card_align_start
  align-items: start

.card-header
  padding: 1rem
  z-index: 10

.card-background
  position: absolute

.card-background_fillHeight
  height: 100%

.card-background_fillWidth
  width: 100%

.card-section
  @extend %flexCol
  flex: 1
  overflow: hidden
  position: relative
  width: 100%
  z-index: 10

.card-text
  padding: 1rem .5rem
  z-index: 10