label {
  background-color: var(--theme-background-accent, transparent);
  border: 1px solid var(--theme-primary);
  border-radius: 0.25rem;

  position: relative;
  display: block;

  color: var(--theme-primary);
  cursor: pointer;
}

label:hover,
label:focus-within,
label:active {
  border-color: var(--theme-primary-accent);
  color: var(--theme-primary-accent);
}

label .prepend-icon {
  position: absolute;
  pointer-events: none;
  inset-inline-start: 0.5rem;
  inset-block-start: 0.5em;
}

label .append-icon {
  display: none;

  position: absolute;
  pointer-events: none;
  inset-inline-end: 0.5rem;
  inset-block-end: calc(0.5em - 0.1em);

  --width: 1.6em;
  --size: calc(var(--width) / 3.6);

  border: calc(var(--size)) solid transparent;
  border-top: calc(var(--size)) solid var(--theme-primary);
}

label select {
  all: unset;

  width: 100%;
  max-width: 3ch;
  padding: 0.55em 0em 0.55em 2em;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (min-width: 576px) {
  label select {
    padding: 0.55em 2rem;
    max-width: 13ch;
  }

  label .append-icon {
    display: unset;
  }
}