@font-face {
  font-family: Quicksand;
  src: url(./fonts/quicksand/Quicksand-Light.ttf) format("opentype");
}
@font-face {
  font-family: Quicksand;
  src: url(./fonts/quicksand/Quicksand-LightItalic.ttf) format("opentype");
}
.section-brand, .header, .footer {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
}

.section-content, .section, .nav, body, .card-section, .card {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
}

.card {
  background-color: #333333;
  border: solid 1px #474747;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem 0.3rem #333333;
  flex: 0 0 450px;
  justify-content: start;
  margin: 5vh 0;
  max-width: 800px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all ease-in 0.5s 0.5s;
  -moz-transition: all ease-in 0.5s 0.5s;
  transition: all ease-in 0.5s 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.card:first-child {
  margin: 2vh 0 5vh;
}

.card_fitContent {
  flex: 1 0 auto;
  overflow: visible;
}

.card_flex_space-between {
  justify-content: space-between;
}

.card_align_start {
  align-items: start;
}

.card-header {
  padding: 1rem;
  z-index: 10;
}

.card-background {
  position: absolute;
}

.card-background_fillHeight {
  height: 100%;
}

.card-background_fillWidth {
  width: 100%;
}

.card-section {
  flex: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 10;
}

.card-text {
  padding: 1rem 0.5rem;
  z-index: 10;
}

.icon {
  height: 2rem;
  width: 2rem;
}
.icon-outline {
  border: 0.15rem solid white;
  border-radius: 50%;
  overflow: visible;
  padding: 0.5rem;
  height: 3.5rem;
  width: 3.5rem;
}
.icon-download {
  background: url(assets/svg/i-download.svg) no-repeat center center;
  background-size: 2rem;
}
.icon-mail {
  background: url(assets/svg/i-mail.svg) no-repeat center center;
  background-size: 2rem;
}
.icon-section {
  background: url(assets/svg/i-chevron-bottom.svg) no-repeat center center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.icon-section_open {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

html {
  font-family: Quicksand;
}

/* Language selector css to toggle lang */
html[lang=en] [lang]:not([lang=en]),
html[lang=de] [lang]:not([lang=de]) {
  display: none;
}

/* Remove scroll bar from Safari & Chrome */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  height: 86vh;
}

svg {
  fill: none;
  stroke: currentcolor;
  stroke-width: 6.25%;
  stroke-linejoin: round;
  stroke-linecap: round;
  overflow: visible;
  padding: 0.5rem;
  width: 3.5rem;
}

.break {
  padding: 1px;
}

.copyright {
  font-size: 0.8rem;
}

.footer {
  padding: 0.5rem;
}

.header {
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 0.5rem;
}

.header-text {
  font-size: 1rem;
  margin-left: 1rem;
}

.nav {
  flex: 1;
  overflow: hidden;
}

.link-bar {
  align-self: center;
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  position: relative;
  text-decoration: none;
  width: 100%;
}

.section {
  align-items: center;
  border-top: 1px solid white;
  cursor: pointer;
  flex: 1;
  font-size: 1.8rem;
  justify-content: center;
  overflow-y: hidden;
  -webkit-transition: flex 0.6s ease;
  -moz-transition: flex 0.6s ease;
  transition: flex 0.6s ease;
}
.section:last-child {
  cursor: auto;
}

.section_hidden {
  flex: 0;
  height: 0;
}

.section_spaceEvenly {
  justify-content: space-evenly;
}

.section-content {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
  justify-content: start;
  height: 0;
  overflow: scroll;
  padding: 0 5vw;
}

.section-content_open {
  flex: 1;
}

.section-title {
  padding: 0.5rem;
  text-align: center;
  width: 80%;
}

.section-title_slim {
  width: 30%;
}

.selectList {
  background-color: #333333;
  border: solid 1px #474747;
  border-radius: 0.2rem;
  cursor: pointer;
  flex: 0 0 120px;
  line-height: 2rem;
  margin: 0.4rem;
}

.selectList-list {
  background-color: inherit;
  border-radius: 0.1rem;
  box-shadow: 0 0 0 1px #474747;
  list-style: none;
  margin-top: 0.3rem;
  position: absolute;
  width: 120px;
  visibility: hidden;
}

.selectList-list_open {
  visibility: visible;
  z-index: 10;
}

.selectList-option {
  padding-left: 1rem;
}
.selectList-option:hover {
  background-color: #474747;
}

/*# sourceMappingURL=style.css.map */
