@use 'sass:color';
@use 'sass:map';

@use '../abstracts/mixins.scss' as mixin;
@use '../base/theme.scss' as theme;

label.select {
  position: relative;
  clip-path: polygon(0% 0%, 103% 0%, 103% 100%, 0% 100%);
  transition: clip-path ease 500ms;

  @include sm {
    &:hover {
      clip-path: polygon(0% 0%, 103% 0%, 103% 500%, 0% 500%);
    }
  }

  > select {
    border: solid 1.2px var(--theme-primary);
    border-radius: 6px;
    outline: none;
    appearance: none;

    background-color: var(--theme-background);
    color: var(--theme-primary);

    padding: 0.25em 0.4em;

    // State styling
    &:hover,
    & ~ .select-options:hover,
    & ~ .select-options > .select-option:hover {
      color: var(--theme-primary-hover);
    }

    &:active,
    & ~ .select-options:active,
    & ~ .select-options > .select-option:active {
      color: var(--theme-accent);
    }
  }

  > .select-options {
    border: solid 1.2px var(--theme-primary);
    border-radius: 6px;

    position: absolute;
    margin: 0;
    margin-block-start: 0.4rem;
    padding: 0;
    list-style: none;
    width: 100%;
    z-index: 10;

    > .select-option {
      padding: 0.3em;
      color: var(--theme-primary);
      @include mixin.ripple;
    }
  }
}

// Prepend icon
label.select {
  > .prepend-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    background: currentColor;
    mask: var(--icon-url);

    margin-inline-start: 0.3em;
    height: 1em;
    width: 1em;
    pointer-events: none;
  }

  > .prepend-icon ~ select {
    color: var(--theme-background);
    width: 2.4em;

    @include sm {
      color: inherit;
      padding-inline-start: calc(1em + 0.3em);
      width: 100%;
      max-width: 16ch;
    }
  }

  > .prepend-icon ~ .select-options > .select-option {
    padding-inline-start: calc(1em + 0.3em + 0.3em);
  }

  &:hover,
  &:focus-within {
    > .prepend-icon {
      color: var(--theme-primary-hover);
    }
  }
}

// Dropdown arrow
label.select {
  > .dropdown-arrow {
    --size: 6px;

    position: absolute;
    top: calc(50% - (var(--size) / 2));
    right: 0;
    // transform: translateY(-50%);
    border: var(--size) solid transparent;
    border-top: var(--size) solid var(--theme-primary);
    margin-inline-end: 0.3em;
    pointer-events: none;

    transition: transform 500ms ease;
    transform-origin: center calc(50% - (var(--size) / 2));
  }

  > .dropdown-arrow ~ select,
  > .dropdown-arrow ~ .select-options > .select-option {
    padding-inline-end: 1em;
  }

  &:hover,
  &:focus-within {
    > .dropdown-arrow {
      border-top: var(--size) solid var(--theme-primary-hover);
      transform: rotate(180deg);
    }
  }
}
