.selectList
  background-color: $color-primary
  border: solid 1px $color-primary-accent
  border-radius: .2rem
  cursor: pointer
  flex: 0 0 120px
  line-height: 2rem
  margin: .4rem

.selectList-list
  background-color: inherit
  border-radius: .1rem
  box-shadow: 0 0 0 1px $color-primary-accent
  margin-top: .3rem
  position: absolute
  width: 120px
  visibility: hidden
  z-index: 90

.selectList-list_open
  visibility: visible
 
.selectList-option
  @extend %flexRow
  justify-content: start
  padding: .2rem .5rem
  &:hover
    background-color: $color-primary-accent
  &:active
    background-color: $color-primary-accent
  &_current
    padding-left: 1rem
    &:hover
      background-color: $color-primary-accent
    &:active
      background-color: $color-primary-accent    

.selectList-img
  margin: 0 .5rem 0 0
  width: 2rem