---
export const redirects = {
  github: 'https://github.com/ndemasie',
  Github: 'https://github.com/ndemasie',
  GitHub: 'https://github.com/ndemasie',
  linkedin: 'https://www.linkedin.com/in/nathandemasie/',
  Linkedin: 'https://www.linkedin.com/in/nathandemasie/',
  LinkedIn: 'https://www.linkedin.com/in/nathandemasie/',
}

type Params = Awaited<ReturnType<typeof getStaticPaths>>[number]['params']
export function getStaticPaths() {
  return Object.keys(redirects).map((key) => ({ params: { redirect: key } }))
}

const { redirect } = Astro.params as unknown as Params
---

<head>
  <meta http-equiv="refresh" content={`0; url=${redirects[redirect]}`} />
</head>
<body>Redirecting...</body>
