---
import localStrings from '@locals/strings'

import { Language, Tag } from '@enums'

export interface Props {
  url: string
  lang: Language
  tag: Tag
}

const { lang, url, tag } = Astro.props as Props
const strings = localStrings[lang]
---

<a class="tag" href={url}>{strings.tag[tag]}</a>

<style lang="scss">
  .tag {
    background-color: var(--theme-secondary);
    border-radius: 10px;
    padding: 0.2em 0.4em;
  }

  .tag + .tag {
    margin-left: 0.5em;
  }
</style>
