---
import PageLayout from '@layouts/PageLayout.astro'
import localStrings from '@locals/strings'

import { Language, Page } from '@enums'
export interface Params {
  lang: Language
}

export async function getStaticPaths() {
  const languages = Object.values(Language)
  return languages.map((lang: Language) => ({ params: { lang } }))
}

const { lang = Language.EN } = Astro.params as unknown as Params

const page = Page.Home
const strings = localStrings[lang].page[page]
---

<PageLayout {lang} {page}>
  <h3>{strings.intro_description}</h3>
</PageLayout>