---
import { Language } from 'src/types/Language'

export interface Props {
  lang?: Language
  path?: string
}

const { lang, path = '' } = Astro.props as Props
---

<!DOCTYPE html>
<html>
  <body>
    <script is:inline client:only define:vars={{ Language, lang, path }}>
      window.addEventListener('DOMContentLoaded', () => {
        const clientLanguage =
          lang ??
          navigator.languages
            .map((lang) => lang?.slice(0, 2).toLowerCase())
            .find((lang) => Object.values(Language).includes(lang))

        window.location.replace(
          new URL(`${clientLanguage}/${path}`, window.origin),
        )
      })
    </script>
  </body>
</html>
