@use './_variables.scss';

@mixin sm {
  @media (min-width: #{variables.$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{variables.$screen-md-min}) {
    @content;
  }
}

@mixin md- {
  @media (max-width: #{variables.$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{variables.$screen-lg-min}) {
    @content;
  }
}

@mixin lg- {
  @media (max-width: #{variables.$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{variables.$screen-xl-min}) {
    @content;
  }
}

.sm {
  display: none;
  @include sm {
    display: initial;
  }
}

.sm- {
  @include sm {
    display: none;
  }
}

.md {
  display: none;
  @include md {
    display: initial;
  }
}

.md- {
  @include md {
    display: none;
  }
}

@mixin nth-child-var-index($count) {
  @for $i from 1 through $count {
    &:nth-child(#{$i}) {
      --nth-child: #{$i};
    }
  }
}
