@use "../abstracts/mixins/sizes.scss";
@use "../abstracts/variables.scss";

body {
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;

  padding: 1rem;

  @include sizes.md {
    padding: 1rem 2rem;
  }
}

main {
  position: relative;
  margin: 0 auto;
  width: 100%;

  @include sizes.md {
    max-width: variables.$screen-lg-min;
  }
}

body,
section,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style-type: none;
}