---
import 'modern-normalize/modern-normalize.css'
import '@styles/theme.scss'
import '@styles/font.scss'
import '@styles/base.scss'

import BaseHead from '@components/BaseHead.astro'
import BaseHeader from '@components/BaseHeader.astro'
import { Language, Page } from '@enums'

export interface Props {
  page: string
  permalink: string
  lang?: Language
}

const {
  lang = Language.EN,
  page = Page.Home,
  permalink
} = Astro.props as Props
---
<!DOCTYPE html>
<html lang={lang}>

<BaseHead {lang} {page} {permalink}></BaseHead>

<body>
  <BaseHeader />
  <main>
    <slot />
  </main>
</body>

</html>