---
import { Language } from '@enums'

export interface Props {
  lang?: Language
}

const { lang } = Astro.props as Props
---

<!DOCTYPE html>
<html>
  <body>
    <script is:inline client:only define:vars={{ Language, lang }}>
      window.addEventListener('DOMContentLoaded', () => {
        const clientLanguage =
          lang ??
          navigator.languages
            .map((lang) => lang && lang.slice(0, 2).toLowerCase())
            .find((lang) => Object.values(Language).includes(lang))

        window.location.replace(new URL(`${clientLanguage}/blog`, window.origin))
      })
    </script>
  </body>
</html>
