html,
body {
  font-family: Quicksand, sans-serif;
  font-weight: 400;
}

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: Quicksand;
    src: url('/fonts/Quicksand/Quicksand-VariableFont_wght.ttf')
      format('truetype-variations');
    font-weight: 100 1000;
    font-stretch: 25% 151%;
  }

  // i,
  // em,
  // .italic {
  //  /* Should be font-style: italic; */
  //  font-variation-settings: 'ital' 1;
  //  font-synthesis: none;
  // }

  // .slanted {
  //  /* Should be font-style: oblique 10deg; */
  //  font-variation-settings: 'slnt' 10;
  // }
}

// Fallback
@supports not (font-variation-settings: normal) {
  $fonts: (
    300: 'Light',
    400: 'Regular',
    500: 'Medium',
    600: 'SemiBold',
    700: 'Bold',
  );

  @each $weight, $variant in $fonts {
    @font-face {
      font-family: Quicksand;
      src: url('/fonts/Quicksand/Quicksand/static/Quicksand-#{$variant}.ttf')
        format('truetype');
      font-weight: $weight;
    }
  }
}
